.jumbotron {
	background-color: #A5E746;
	color: black;
	margin-top: 50px;
}

footer{
	padding: 10px 10px 0 10px;
	background-color:#C7EAE8;
	margin-bottom:0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 150px;
	padding: 2px 15px 2px 2px;
	padding-top: 10px;
}

.btn-reserva{
	width: 100%;

}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}