.jumbotron {
	background-color: #A5E746;
	color: black;
}

footer{
	padding: 10px 10px 0 10px;
	background-color:#C7EAE8;
	margin-bottom:0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 150px;
	padding: 2px 15px 2px 2px;
	padding-top: 10px;
}

.btn-reserva{
	width: 100%;

}